  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
  }

  @media (min-width: 400px) {
    body {
      font-size: 16px;
    }
  }

  header {
    height: 100vh;
  }

  .back {
    background-image: url('../IMG/fundo.jpeg');
    background-size: 100vw auto;
    background-repeat: no-repeat;
    filter: blur(5px);
    height: 100vh;
  }

  @media (max-width: 925px) {
    .back {
      background-size: auto 100vh;
    }
  }
  
  .superior {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .menu {
    background-color: white;
    filter: opacity(0.65);
    position: fixed;
    top: 0;
    width: 100vw;
  }

  .menu a {
    display: block;
    padding: 10px 30px;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    color: orange;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .title {
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border: 0.5em inset gray; 
    padding: 0.8em 0.8em;
  }

  .site-subtitle,
  .site-title {
    color: whitesmoke;
    text-align: center;
  }

  .site-title {
    font-family: 'Satisfy', cursive;
    font-size: 4em;
  }
  
  .site-subtitle {
    font-family: 'Balsamiq Sans', cursive;
    font-style: italic;
    font-size: 2em;
  }

  .portfolio {
    padding: 2em;
    height: 100vh;
  }

  .portfolio h2 {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 2em;
    margin-bottom: 1.5em;
  }

  .portfolio .grid {
    display: grid;
    gap: 1em;
  }

  @media (min-width: 800px) {
    .portfolio .grid {
      align-items: center;
      grid-template-columns: 350px 350px;
      height: calc(100vh - 4em - 1.5em);
      justify-content: space-around;
    }
  }

  .img-portfolio {
    height: auto;
    width: 20em;
  }

  @media (min-width: 800px) {
    .img-portfolio {
      height: auto;
      width: 25em;
    }
  } 

  .portfolio figure {
    text-align: center;
  }