  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
  }

  @media (min-width: 400px) {
    body {
      font-size: 16px;
    }
  }

  header {
    height: 100vh;
  }

  .back {
    background-image: url('../IMG/fundo.jpeg');
    background-size: 100vw auto;
    background-repeat: no-repeat;
    filter: blur(5px);
    height: 100vh;
  }

  @media (max-width: 925px) {
    .back {
      background-size: auto 100vh;
    }
  }
  
  .superior {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .menu {
    background-color: white;
    filter: opacity(0.65);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
  }

  .menu a {
    display: block;
    padding: 10px 30px;
    transition: background-color 0.5s, color 0.5s;
  }

  .menu a:active,
  .menu a:hover {
    background-color: orange;
    color: whitesmoke;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    color: orange;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .title {
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border: 0.5em inset gray; 
    padding: 0.8em 0.8em;
    transform: scale(0) translateY(-100vh);
    opacity: 0;

    animation: ease 3s title-animation forwards;
  }

  @keyframes title-animation {
    100% {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }

  .site-subtitle,
  .site-title {
    color: whitesmoke;
    text-align: center;
  }

  .site-title {
    font-family: 'Satisfy', cursive;
    font-size: 4em;
  }
  
  .site-subtitle {
    font-family: 'Balsamiq Sans', cursive;
    font-style: italic;
    font-size: 2em;
  }

  .sobre,
  .contato,
  .portfolio {
    padding: 2em;
    height: 100vh;
  }

  @media (min-width: 1000px) {
    .container {
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
  }
  }

  .sobre h2,
  .contato h2
  .portfolio h2 {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 2em;
    margin-bottom: 1.5em;
  }

  .sobre .fotosobre {
    float: right;
    margin-left: 2em;
    height: 16em;
    width: auto;
  }

  @media (max-width: 600px) {
    .sobre .fotosobre {
      float: none;
    }    
  }

  @media (min-width: 1000px) {
    .sobre .fotosobre {
      height: 20em;
    }
  }

  .sobre p {
    margin-bottom: 1em;
    text-indent: 2.5em;
    text-align: justify;
  }

  .portfolio .grid {
    display: grid;
    gap: 1em;
  }

  @media (min-width: 800px) {
    .portfolio .grid {
      align-items: center;
      grid-template-columns: 350px 350px;
      height: calc(100vh - 4em - 1.5em);
      justify-content: space-around;
    }
  }

  .img-portfolio {
    height: auto;
    width: 20em;
    transition: transform 300ms;
  }

  .img-portfolio:hover {
    transform: scale(1.2); 
  }

  /*.flip-card {
    perspective: 1000px;
  }

  .card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
  }

  .flip-card:hover .card {
    transform: rotateY(180deg);
  }

  .card-front,
  .card-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  .card-back {
    background-color: rgb(224, 90, 0);
    color: white;
    height: 160px;
    width: 20em;
    transform: rotateY(180deg);
    font-size: medium;
  }

  @media (min-width: 800px) {
    .card-back {
      height: 240px;
      width: 25em;
    }
  }*/

  @media (min-width: 800px) {
    .img-portfolio {
      height: auto;
      width: 25em;
    }
  } 

  .portfolio figure {
    text-align: center;
  }

  .contato a {
    color: black;
    font-size: 5em;
    transition: text-shadow 0.5s;
  }

  .contato a:active,
  .contato a:hover {
    text-decoration: none;
    text-shadow: 10px 10px 20px gray;
  }

  .spinner {
    border: 8px solid rgba(0, 0, 0, .3);
    border-left-color: rgba(255, 94, 0, 0.3);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 45%;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
